@font-face {
  font-family: AVENIR_BOLD;
  src: url(fonts/Avenir-Book.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: GOTHAM_BOLD;
    src: url(fonts/Gotham-Bold-Regular.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: GOTHAM_REGULAR;
    src: url(fonts/Gotham-Book-Regular.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
