#services {

  @media(min-width: $screen-lg) {

    h3 {

      font-family: $font-family-gotham-bold;
      font-size: 15px;
      font-weight: 600;
      color: #000;
    }

     #content {

      .content-container {

        min-height: 365px;
        margin-bottom: 20px;

        a:hover, a:active {
      
          text-decoration: none;
        }

        a:hover h3 {

          color: #337ab7;
        }

        .featured-container {

          background: #f7f8f9;
          min-height: 315px;

          .featured-image {

            max-width: 100%;
            max-height: 100%;
          }

          .services-thumbnail {

            min-height: 33px;
          }
        }
      }
    }
  }
}