.np {
  padding-left: 0;
  padding-right: 0;
}

.nm {
  padding-right: 0;
  padding-left: 0;
}

.nmnp {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

.hidden {
  display: none;
}

.show {
  display: block;
}