header {
  @media (min-width: $screen-lg) {

    .logo-link {

      width: 250px;
      height: 176px;
      display: block;
      margin: auto;
    }

    .logo {
      max-width: $logo-max-height;
 
      &.right {
        position: absolute;
        margin-left: 20px;
      }
    }
  }
}